@model AISModels.MenuShiftHours

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MenuShiftHours</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DayId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DayId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FoodMenuShiftId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FoodMenuShiftId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OpenAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OpenAt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CloseAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CloseAt)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ShiftHourId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
