@model AIS.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.Mobile.cshtml";
}

<div class="login-inner1">
    <div class="login-box">
        <a href="javascript:void(0)">
            <img class="login-logo" src="/images/logo.png" alt="">
        </a>
        <h2>
            User Login
        </h2>
        @*@using (Html.BeginForm(new { ReturnUrl = "/Book" }))
            {
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Username" })
            @Html.ValidationMessageFor(m => m.UserName)
            @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", @style = "margin-left:0px;" })
            @Html.ValidationMessageFor(m => m.Password)
            <div class="row">
                @*<input class="checkbox" type="checkbox" value="true" name="RememberMe" />
                    <p>
                        <a href="javascript:void(0)">Remember Password</a>
                    </p>
                    <p class="p-right">
                        <a href="/Account/ForgotPassowrd">Forgot Password?</a>
                    </p>*@
                <input type="submit" value="Login" name="" />
            </div>
        }
    </div>
</div>
