@model AIS.Models.ReservationVM
@using (Ajax.BeginForm(
    "UpdateAddReservationOptions",
    "FloorPlan",
    null,
    new AjaxOptions
    {
        HttpMethod = "GET",
        UpdateTargetId = "AdResDDL",
        OnSuccess = "{" +
                    "   $('#AdResUpdateForm').removeData('unobtrusiveValidation');" +
                    "   $.validator.unobtrusive.parse('#AdResUpdateForm');" +
                    "}"
    },
    new
    {
        @id = "AdResUpdateForm"
    }))
{
    @Html.HiddenFor(m => m.ReservationId)
    @Html.Hidden("resDate")
    @Html.HiddenFor(m => m.Status)
    @Html.HiddenFor(m => m.Covers, new { @onchange = "$(this).parents('form').submit();" })
    @Html.HiddenFor(m => m.time, new { @onchange = "$(this).parents('form').submit();" })
    @Html.HiddenFor(m => m.Duration)
    @Html.HiddenFor(m => m.ShiftId)
    @Html.HiddenFor(m => m.tableIdd, new { @onchange = "$(this).parents('form').submit();" })
    @Html.HiddenFor(m => m.FloorPlanId)
    @Html.Hidden("considerFloor", false)
    @Html.Hidden("isMerging", false)
    @Html.Hidden("isMobileSource", true)
}
<div class="row">
    <div class="left-s">
        <label>
            Covers <span>*@Html.ValidationMessageFor(m => m.Covers)</span>
        </label>
        <div class="select-main">
            @Html.DropDownList(
                "ddlCover",
                new SelectList(ViewBag.CoverList, "Value", "Text", Model.Covers),
                new
                {
                    @onchange = "{" +
                                "   $('#AdResUpdateForm #Covers').val(this.value).change(); " +
                                "}"
                })
        </div>
    </div>
    <div class="right-s">
        <label>
            Time <span>*@Html.ValidationMessageFor(m => m.time)</span>
        </label>
        <div class="select-main">
            @Html.DropDownList(
                "ddlTime",
                new SelectList(ViewBag.TimeList, "Value", "Text", Model.time),
                new
                {
                    @onchange = "{" +
                                "   $('#AdResUpdateForm #time').val(this.value).change(); " +
                                "}"
                })
        </div>
    </div>
</div>
<label>
    Table <span>*@Html.ValidationMessageFor(m => m.tableIdd)</span>
</label>
<div class="select-main s-table">
    @Html.DropDownList(
        "ddlTable",
        new SelectList(ViewBag.TableList, "Id", "Name", Model.tableIdd),
        new
        {
            @onchange = "{" +
                        "   $('#AdResUpdateForm #tableIdd').val(this.value).change(); " +
                        "}"
        })
</div>
<p>
    There are <span>
        @(ViewBag.TableCount)
        tables
    </span> available for this time and group size (excluding table combinations).
</p>
