@model AISModels.Customers
@if (Model != null)
{
    var phnNumbers = Model.PhoneNumbers.ToList();

    <div class="pop-sec-a">
        <div class="colA">
            <img src="/images/icon-pop-name.png" alt="" />
        </div>
        <div class="colB">
            @Model.FirstName @Model.LastName
            <br />
            <span>@(phnNumbers.Count > 0 ? Convert.ToInt64(phnNumbers.FirstOrDefault().PhoneNumbers.Replace(" ", string.Empty)).ToString("000'-'000'-'0000") : string.Empty)</span>
        </div>
        <div class="colC">
            <img src="/images/red-s.png" width="15" height="18" alt="" />
        </div>
    </div>
    <div class="pop-sec-b">
        <span class="sebHd">
            Guest Notes
            <img src="/images/icon-note.png" width="12" height="12" alt="" onclick="EditGuestNote('#AdResAdditionalDetail')" style="cursor: pointer;" />
        </span>
        @{
    ViewBag.Parent = "#AdResAdditionalDetail";
    ViewBag.Target = "#AdResSaveForm";
    {
        Html.RenderPartial("~/Views/FloorPlan/GuestNoteUpdatePartial.cshtml", Model);
    }
        }
    </div>
    <div id="AdResCustSpec">
        @if (Model.SpecialStatus.Count() > 0)
        {
            <div class="pop-sec-b">
                <span class="sebHd">Special Status</span>
                @foreach (var status in Model.SpecialStatus)
                {
                    <a href="javascript:void(0)" class="@(@status.SpecialStatus.Status.ToLower().Contains("vip") ? "btnvip" : "btnhip")">@status.SpecialStatus.Status</a>
                }
            </div>
        }
        @if (Model.Allergies.Count() > 0)
        {
            <div class="pop-sec-b">
                <span class="sebHd">Allergies</span>
                @foreach (var allergy in Model.Allergies)
                {
                    <span class="alerg">@allergy.Allergies.Allergy</span>
                }
            </div>
        }
    </div>
}
else
{
    <div class="pop-sec-a">
        <div class="colA">
            <img src="/images/icon-pop-name.png" alt="" />
        </div>
        <div class="colB">
            No Customer found
        </div>
    </div>
}