@using AIS.Extensions
@model AISModels.Customers
@if (Model != null)
{
    int totalVisits;
    int totalReservations;
    int walkins;
    int noshows;
    int cancellations;

    Model.GetCustomerVisits(out totalVisits, out totalReservations, out walkins, out noshows, out cancellations);
    
    <div class="pop-sec-g">
        <p style="color: #959595;">
            Server <strong style="color: #000;">Victor</strong></p>
    </div>
    <div class="pop-sec-g">
        <ul>
            <li><span class="title">Total<br />
                visits</span><span class="dec">@totalVisits</span></li>
            <li><span class="title">Reservations</span><span class="dec">@totalReservations</span></li>
            <li><span class="title">Walk-ins</span><span class="dec">@walkins</span></li>
            <li><span class="title">No-Shows</span><span class="dec">@noshows</span></li>
            <li><span class="title">Cancellations </span><span class="dec">@cancellations</span></li>
        </ul>
    </div>
}
