@using AIS.Extensions;
@{
    var ResModel = ViewBag.ResModel;
}
<div class="m-right-btn">
</div>
<div class="frnt-right-rowA">
    <ul class="frst">
        <li>
            <div class="dateStatus" style="cursor:pointer;">
                <span class="date"></span><span class="day"></span><span class="month"></span>
                <input onchange="changeCdate(this)" type="text" id="cdate" style="background: #585F68; color: #585F68; cursor: pointer;" />
            </div>
        </li>
        <li>
            <div class="shiftStatus">
                <span class="sft">Shift</span>
                @Html.DropDownList("shift", (SelectList)ViewBag.shiftDdl, "ALL")
            </div>
        </li>
        <li>
            <div class="covStatus">
                <span class="fs">Covers</span> <span class="sc"></span>
            </div>
        </li>
    </ul>
</div>
<div id="rightContent">
    @if (ResModel != null)
    {
        <div class="frnt-right-rowb" id="floorSideTabs" style="display:none;">
            @Html.Partial("~/Views/FloorPlan/FloorRightReservationTabsPartial.cshtml")
        </div>
        <div class="frnt-right-rowb" id="floorSideAddRes">
            @Html.Action("GetAddReservtionPartial", "FloorPlan", (AIS.Models.ReservationVM)ResModel)
        </div>
        <div class="frnt-right-rowb" id="floorSideAddWait" style="display:none;">
            @Html.Action("GetAddToWaiting", "Waiting", new { WaitDate = DateTime.UtcNow.ToDefaultTimeZone(User.Identity.GetDatabaseName()).Date })
        </div>
    }
    else
    {
        <div class="frnt-right-rowb" id="floorSideTabs">
            @Html.Partial("~/Views/FloorPlan/FloorRightReservationTabsPartial.cshtml")
        </div>
        <div class="frnt-right-rowb" id="floorSideAddRes" style="display:none;">
            @Html.Action("GetAddReservtionPartial", "FloorPlan", new AIS.Models.ReservationVM { resDate = DateTime.UtcNow.ToDefaultTimeZone(User.Identity.GetDatabaseName()).Date })
        </div>
        <div class="frnt-right-rowb" id="floorSideAddWait" style="display:none;">
            @Html.Action("GetAddToWaiting", "Waiting", new { WaitDate = DateTime.UtcNow.ToDefaultTimeZone(User.Identity.GetDatabaseName()).Date })
        </div>
    }
</div>
