@model AISModels.FloorPlan
@{
    ViewBag.Title = "EditfloorPlan";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";

    var ResModel = (AIS.Models.ReservationVM)ViewBag.ResModel;
    string resDate = string.Empty;
    if (ResModel != null)
    {
        resDate = ResModel.resDate.ToString("dddd, dd MMM, yy");
    }
}
@section styles {
    @Styles.Render("~/Content/themes/base/jquery.ui.datepicker.css",
                   "~/css/drag-slider.css",
                   "~/css/jquery.cluetip.css",
                   "~/css/TableAvailability/TACommon.css",
                   "~/css/FloorPlan/FloorPlan.css",
                   "~/css/Bootstrap-tooltip.css",
                   "~/css/Bootstrap-popover.css",
                   "~/css/PNotify/pnotify.custom.min.css")
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    @*<link href="http://evoluteur.github.io/colorpicker/css/evol.colorpicker.css" rel="stylesheet">*@
    <style type="text/css">
        #InfoTop {
            top: 27px !important;
            width: 30% !important;
            border-radius: 7px 7px 7px 7px !important;
            height: auto !important;
            line-height: normal !important;
        }

            #InfoTop > span {
                float: none !important;
                line-height: normal !important;
            }
    </style>
}
@section head {
    @Scripts.Render("~/Scripts/jquery.signalR-1.1.4.min.js", "~/signalr/hubs")
}
@section scripts {
    @Scripts.Render("~/Scripts/FloorPlan/FloorPlan.js",
                    "~/Scripts/FloorPlan/FloorPlan.QuickTableChange.js",
                    "~/Scripts/Floor/Reservations.js",
                    "~/Scripts/jquery.ui.touch-punch.min.js",
                    "~/js/jquery.hoverIntent.js",
            //"~/js/jquery.cluetip.js",
                    "~/js/lemmon-slider.js",
                    "~/Scripts/FloorPlan/FloorPlanScripts.js",
                    "~/Scripts/MergeTable/MergeTable.js",
                    "~/js/jquery.screwdefaultbuttonsV2.js",
                    "~/Scripts/Staff/Staff.js",
                    "~/Scripts/PNotify/pnotify.custom.min.js",
                    "~/Scripts/PNotify/ProgressNotifier.js",
                    "~/Scripts/FloorPlan/Hubs/FloorPlanHub.js")
    @*<script type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>*@
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
    @*<script src="http://evoluteur.github.io/colorpicker/js/evol.colorpicker.min.js"></script>*@

    @Scripts.Render("~/Scripts/Popover/bootstrap-tooltip.js", "~/Scripts/Popover/bootstrap-popover.js")

    <script type="text/javascript">
        var initialDate = '@(!string.IsNullOrEmpty(resDate) ? resDate : "0")';
        initialDate = initialDate == '0' ? serverDateTime : initialDate;
        isAddEditResPanelOpen = @((bool)(ViewBag.IsEditMode) ? "true" : "false");
        maxCoverLimit = '@((int)ViewBag.maxCoverLimit)';
    </script>
}
<div class="middle-section floor floorSize">
    @Html.Partial("FloorMiddleSectionPartial", this.Model)
</div>
<div class="manage-section" style="background: #EEEEEE; z-index: 4;">
    @Html.Partial("FloorRightSectionPartial")
</div>
@section foot {
    <div id="InfoTop">
        <span>
            You have entered the quick reservation update mode. <br /> Click on a table to update.
        </span>
    </div>

    <div id="popOverlay" class="dragme">
        <div class="popOverlay-head">
            <div class="popOverlay-head-left">
            </div>
            <div class="popOverlay-close-btn">
                <a href="javascript:void(0)">
                    <img alt="close" src="/images/btn-close.png" />
                </a>
            </div>
        </div>
        <div id="popOverlay-bodyId" class="popOverlay-body">
        </div>
        <div class="popOverlay-foot">
            <div class="t-bottom">
                <input type="button" value="Cancel" style="margin-left: 12px;" class="clsbtn">
                <input type="button" value="Save" style="margin-left: 12px;" class="svbtn" />
            </div>
        </div>
    </div>
    @using (Ajax.BeginForm(
            "GetEndingReservationPopUp",
            "FloorPlan",
            null,
            new AjaxOptions
            {
                HttpMethod = "GET",
                OnSuccess = "{" +
                            "   if (data.Status == 'Success') {" +
                            "       PromptForReservationEnding(data);" +
                            "   }" +
                            "}"
            },
            new
            {
                @id = "EndResPopUp"
            }))
    {
        @Html.Hidden("ResDate")
        @Html.Hidden("TimeInMin")
    }
}
