@model AIS.Models.ReservationVM
@{
    var submitAction = (Model.ReservationId > 0) ? "UpdateReservationWithPIN" : "SaveReservationWithPIN";
    var PINEnabled = false;
    if (ViewBag.UserPin is bool)
    {
        PINEnabled = (bool)ViewBag.UserPin;
    }
}
<style type="text/css">
    #resNoteEdt textarea {
        width: 234px;
    }

    #resNote p {
        padding: 0px;
    }

    #tblSelectOption p {
        border-bottom: 1px solid #e1e1e1;
    }

    /** temp changes 27-02-2015***/
    #addResTabs-1 .t-inner .select-main {
        height: 31px;
    }

    #addResTabs-1 .t-inner input[type="text"] {
        height: 31px;
    }

    #addResTabs-1 .t-inner select {
        height: 31px;
        padding: 3px 0 5px 7px;
    }
</style>

<h1 class="add-new-reser">
    @((Model.ReservationId > 0) ? "Edit Reservation" : "Add New Reservation")
</h1>
@if (Model.ReservationId > 0)
{
    using (Ajax.BeginForm("DeleteReservationWithPIN", "Reservation", null, new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "{" +
            "   if (data.Status == 'Success') {" +
            "       alert('Reservation deleted successfully...');" +
            "       Floor.OpenReservationList();" +
            "       Floor.UpdateFloorPlan('', 'TIMESLIDE');" +
            "   }" +
            "   else {" +
            "       AlertInvlidPIN(data.Message, function () { DeleteReservation(false); });" +
            "   }" +
            "}"
        //Confirm = (PINEnabled ? "" : "Are you sure, you want to delete this reservation?")
    },
        new
        {
            @id = "AdResDltForm"
        }))
    {
        @Html.Hidden("ReservationId", Model.ReservationId)
        @Html.Hidden("MobileNumber", Model.MobileNumber)
        @Html.Hidden("PIN")
    }
}
@using (Ajax.BeginForm(
    "GetCustomerDetailIfExist",
    "Reservation",
    null,
    new AjaxOptions
    {
        HttpMethod = "GET",
        OnSuccess = "{" +
                    "   if (data.Status == 'Success') {" +
                    "       alert(data.Message);" +
                    "       $('#AdResSaveForm #FirstName').val(data.FirstName).blur();" +
                    "       $('#AdResSaveForm #LastName').val(data.LastName).blur();" +
                    "   }" +
                    "}"
    },
    new
    {
        @id = "GetCustDetail"
    }))
{
    @Html.Hidden("phoneNumber")
}
<div class="frnt-right-rowb reservation-tabs">
    <div id="addResTabs" class="tabs">
        <ul class="main">
            <li><a href="#addResTabs-1">Booking Information</a></li>
            <li><a href="#addResTabs-2" onclick="Floor.GetAddResAdditionalDetail();">Additional Details</a></li>
        </ul>
        <div id="addResTabs-1">
            <div class="t-inner content_1">
                @using (Ajax.BeginForm(submitAction, "Reservation", null,
                     new AjaxOptions
                     {
                         HttpMethod = "POST",
                         OnSuccess = "{" +
                                     "   if (data.Status == 'Success') {" +
                             //"alert(data.Message);" +
                                     "       AfterSaveOrCancelRes();" +
                                     "       Floor.OpenReservationList();" +
                                     "       Floor.UpdateFloorPlan('', 'TIMESLIDE');" +
                                     "   }" +
                                     "   else {" +
                                     "       AlertInvlidPIN(data.Message, function () { SaveReservation() });" +
                                     "   }" +
                                     "}"
                     },
                     new
                     {
                         @id = "AdResSaveForm"
                     }))
                {
                    @Html.HiddenFor(m => m.ReservationId)
                    @Html.HiddenFor(m => m.FloorPlanId)
                    @Html.HiddenFor(m => m.Covers)
                    @Html.HiddenFor(m => m.time)
                    @Html.HiddenFor(m => m.ShiftId)
                    @Html.HiddenFor(m => m.tableIdd)
                    @Html.Hidden("resDate", Model.resDate.ToString("dddd, dd MMM, yy"))
                    @Html.HiddenFor(m => m.Status)
                    @Html.HiddenFor(m => m.Duration)
                    @Html.HiddenFor(m => m.TablePositionTop)
                    @Html.HiddenFor(m => m.TablePositionLeft)
                    @Html.HiddenFor(m => m.WaitingId)
                    @Html.HiddenFor(m => m.ReservationNote)
                    @Html.HiddenFor(m => m.GuestNote)
                    @Html.HiddenFor(m => m.MergeTableId)
                    @Html.HiddenFor(m => m.PIN)

                    <label>
                        Main Phone Number <span>*@Html.ValidationMessageFor(m => m.MobileNumber)</span>
                    </label>
                    @Html.TextBoxFor(m => m.MobileNumber,
                    new
                    {
                        @onfocus = "inputPNFocus(this);",
                        @onblur = "{" +
                                  "     inputPNBlur(this);" +
                                  "     if (this.value.length > 0 && parseInt(this.value) != 0) {" +
                                  "         $('#GetCustDetail #phoneNumber').val(this.value);" +
                                  "         $('#GetCustDetail').submit();" +
                                  "     }" +
                                  "}"
                    })
                    <label>
                        First Name <span>*@Html.ValidationMessageFor(m => m.FirstName)</span>
                    </label>
                    @Html.TextBoxFor(m => m.FirstName)
                    <label>
                        Last Name <span>*@Html.ValidationMessageFor(m => m.LastName)</span>
                    </label>
                    @Html.TextBoxFor(m => m.LastName)
                    <label>
                        Email @Html.ValidationMessageFor(m => m.Email)
                    </label>
                    @Html.TextBoxFor(m => m.Email)

                    /***********  enable merging button  ***********/

                    <div class="add-new-inner" id="enableMergeBtn">
                        <div class="add-new-sec-1">
                            <label>
                                Merge Override
                            </label>
                            <div class="uswitch" style="float: right; margin-top: -34px;">
                                <div class="onoffswitch EnablePIN">
                                    <input id="enableMerging" name="enableMerging" class="onoffswitch-checkbox" value="true"
                                           type="checkbox" @(Html.Raw(Model.enableMerging ? "checked=\"checked\"" : "")) onchange="EnableMerge(this);" />
                                    <label class="onoffswitch-label" for="enableMerging">
                                        <div style="" class="onoffswitch-inner">
                                        </div>
                                        <div style="" class="onoffswitch-switch">
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    /***********  enable merging button ends here ************/
                }
                <div id="AdResDDL" class="resOptParent">
                    @Html.Action("UpdateAddReservationOptions", "FloorPlan", new { model = Model, isDateChanged = false })
                </div>
                <div class="pop-sec-b">
                    <span class="sebHd">
                        Reservation Notes
                        <img width="12" height="12" src="/images/icon-note.png" alt="" onclick="EditReservationNote('#addResTabs-1')"
                             style="cursor: pointer;" />
                    </span>
                    @{
                        ViewBag.Parent = "#addResTabs-1";
                        ViewBag.Target = "#AdResSaveForm";
                        {
                            Html.RenderPartial("~/Views/FloorPlan/ReservationNoteUpdatePartial.cshtml", Model);
                        }
                    }
                </div>
            </div>
        </div>
        <div id="addResTabs-2">
        </div>
    </div>
</div>
<div class="t-bottom">
    <input type="button" value="Cancel" name="" onclick="{ AfterSaveOrCancelRes(); Floor.OpenReservationList(); }" />
    <input type="button" value="Save" name="" onclick="SaveReservation();" class="svbtn" />
</div>

<script type="text/javascript">
    $(function () {
        @if (PINEnabled)
        {
        <text>
        pinEnabled = true;
        </text>
        }
        else {
                @Html.Raw("pinEnabled = false;")
        }
    });

    function EnableMerge(element) {
        //debugger;
        var enableMerge = false;
        enableMerge = $(element).is(':checked');

        $('#AdResDDL #enableMerging').val(enableMerge).change();
        $('#AdResAddiOpts #enableMerging').val(enableMerge).change();
    }
</script>
