@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}
<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/ui-lightness/jquery-ui.css"
      rel="stylesheet">
<link href="https://evoluteur.github.io/colorpicker/css/evol.colorpicker.css" rel="stylesheet">
@section styles{
    <style type="text/css">
        .settings .Sections-tab .sections-main-tab table.sections-tab-inner tbody tr td:nth-child(1) {
            padding-top: 24px;
            text-align: left;
            width: 11%;
        }
    </style>
}
@model IList<AISModels.Section>
@section scripts{
    <script>
        $(document).ready(function () {
            document.getElementById("aSettings").className = "active";

            $('.m-left-btn').off('click');
            $('.m-right-btn').off('click');
            $('.rooftop-toggle').off('click');

            $('.m-left-btn').click(function () {
                $('.menu-bar').toggleClass('menu-bar-toggle');
                $('.m-left-btn').toggleClass('m-left-btn-toggle');
                $('.middle-section').toggleClass('middle-section-toggle1');
                $('.hours-section').toggleClass('hours-section-toggle1');
                $('.floor-section').toggleClass('floor-section-toggle1');

            });
            $('.m-right-btn').click(function () {
                $('.manage-section').toggleClass('manage-section-toggle');
                $('.m-right-btn').toggleClass('m-right-btn-toggle');
                $('.middle-section').toggleClass('middle-section-toggle2');
            });

            $('.rooftop-toggle').click(function (e) {
                var container = jQuery(".rooftop-toggle td .edit-img-link, .rooftop-toggle td .select-t");
                // if the target of the click isn't the container...
                if (!container.is(e.target) && container.has(e.target).length === 0) // ... nor a descendant of the container
                {
                    //container.hide();
                    $('.rooftop-info-main').toggle();
                    $('.floor-save').css('display', 'block');
                }
            });

        });

        //        $(document).not($(".scolor")).click(function () {
        //            setTimeout(function () {
        //                $(".mCustomScrollBox.mCS-light").css("overflow", "hidden");
        //            }, 500);
        //        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script src="https://evoluteur.github.io/colorpicker/js/evol.colorpicker.min.js"></script>
}
<div class="middle-section floor-section Sections-tab">
    <div class="top-filter">
        <ul>
            <li><a href="/Setting/Index">Settings</a></li>
            <li><a href="/User/Index">Users</a></li>
            <li><a href="/ShiftHour/Index">Hours</a></li>
            <li><a href="/Floor/Index">Floorplan</a></li>
            <li><a class="active" href="javascript:void(0)">Sections</a></li>
            <li><a href="/TableAvailablity/Index">Table Availability</a></li>
            
        </ul>
    </div>
    <div class="for-edit-section">
        <ul class="sections-links">
            <li><a class="active" href="javascript:void(0)">Add/Edit Sections</a></li>
            <li><a href="/Section/Assign/@ViewBag.floorId">Assign Tables</a></li>
        </ul>
        <input class="" type="button" value="Cancel" name="" onclick="javascript:window.location = '/Section/Index/@ViewBag.floorId';">
        <input class="svbtn" type="button" value="Save" name="" onclick="save()">
    </div>
    <div class="sections-main-tab">
        <table class="sections-tab-inner">
            <thead>
                <tr>
                    <td>
                        Level
                    </td>
                    <td>
                        Sections Names
                    </td>
                    <td>
                        Colour
                    </td>
                    <td>
                        Action
                    </td>
                </tr>
            </thead>
            <tbody class="sections-info" id="selectionTable" style="overflow-y: auto;">
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td>
                            @*<div class="select-t">
                                    @Html.DropDownList("level", new SelectList(new int[] { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 }, @Model[i].SLevel), new { @class = "slevel" })
                                </div>*@ L@(Model[i].FloorPlan.FLevel)-@Model[i].FloorPlan.FloorName
                                @Html.Hidden("level", Model[0].FloorPlan.FLevel)
                            </td>
                            <td>
                                <input type="text" value="@Model[i].Name" placeholder="Section" class="ssection" />
                                <input type="hidden" class="secId" value="@Model[i].SectionId" />
                            </td>
                            <td>
                                <input type="hidden" value="@Model[i].Color" id="@("color" + (i + 1))" class="scolor" />
                            </td>
                            <td>
                                @if (i != 0)
                                {
                                    <a id="removeBtn" href="javascript:void(0)" onclick="RemoveTrSection(this)">
                                        <img src="/images/section-action-img.png" alt="" />
                                    </a>
                                }
                                <a href="javascript:void(0)" onclick="addNewSection(this)">
                                    <img src="/images/section-action-img-add.png" alt="" />
                                </a>
                            </td>
                        </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<table id="tablehide">
    <tbody id="traddrow">
        <tr>
            <td>
                @*<div class="select-t">
                        @Html.DropDownList("level", new SelectList(new int[] { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 }), new { @class = "slevel" })
                    </div>*@ L@(Model[0].FloorPlan.FLevel)-@Model[0].FloorPlan.FloorName
                    @Html.Hidden("level", Model[0].FloorPlan.FLevel)
                </td>
                <td>
                    <input type="text" placeholder="Section" class="ssection" />
                    <input type="hidden" class="secId" value="0" />
                </td>
                <td>
                    <input type="hidden" id="color" class="scolor" />
                </td>
                <td>
                    <a id="removeBtn" href="javascript:void(0)" onclick="RemoveTrSection(this)">
                        <img src="/images/section-action-img.png" alt="" />
                    </a><a href="javascript:void(0)" onclick="addNewSection(this)">
                        <img src="/images/section-action-img-add.png" alt="" />
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <script type="text/javascript">
        var id = 0;
        $(function () {
            $("#tablehide").hide();
            if ('@Model.Count()' == '0') {
                $("#selectionTable").append($("#traddrow").html());
                bindColorPicker();
                $("#removeBtn").hide();
            }
            else {
                for (var i = 1; i <= '@Model.Count()'; i++) {
                    $("#color" + i).colorpicker({ strings: "Theme Colors,Standard Colors,More Colors,Less Colors" }).on("change.color", function (event, color) {
                        setTimeout(function () {
                            $(".mCustomScrollBox.mCS-light").css("overflow", "hidden");
                        }, 500);
                    });
                }
                id = parseInt('@Model.Count()');
            }
            $(".evo-colorind-ff").click(function () {
                $(".mCustomScrollBox.mCS-light").css("overflow", "visible");
            });
        });

        function addNewSection(e) {
            id = id + 1;
            var tr = $(e).parent().parent();
            $(tr).after($("#traddrow").html());
            bindColorPicker();
            $(".evo-colorind-ff").click(function () {
                $(".mCustomScrollBox.mCS-light").css("overflow", "visible");
            });
        }
        function bindColorPicker() {
            $("#color").attr("id", "color" + id);
            $("#color" + id).colorpicker({ strings: "Theme Colors,Standard Colors,More Colors,Less Colors" });
            var d = $("#color" + id).parent()[0];
            $(d).css("position", "absolute");
        }
        function RemoveTrSection(e) {
            $(e).parent().parent().remove();
        }

        function save() {
            var obj = [];
            var id = 0;
            var le = "";
            var na = "";
            var co = "";
            var isValid = true;
            $.grep($("#selectionTable tr"), function (p) {
                id = $(p).find("input[type='hidden'].secId").val();
                //            le = $(p).find(".slevel option:selected").text();
                le = $(p).find("input[type='hidden']#level").val();
                na = $(p).find("input[type='text'].ssection").val();
                co = $(p).find("input[type='hidden'].scolor").val();

                if (isValid) {
                    if (na == "" || na == undefined || na == NaN) {
                        isValid = false;
                        alert("Please enter section name.");
                    } else if (co == "" || co == undefined || co == NaN) {
                        isValid = false;
                        alert("Please select color.");
                    }
                    else {
                        obj.push({
                            SectionId: id,
                            SLevel: le,
                            Name: na,
                            color: co
                        });
                    }
                }
            });
            if (isValid) {
                $.ajax({
                    type: "POST",
                    data: { str: JSON.stringify(obj), floorId: '@ViewBag.floorId' },
                    url: '/Section/Save',
                    success: function (data) {
                        if (data.success) {
                            alert(data.msz);
                            window.location.href = '/Section/Index/' + '@ViewBag.floorId'
                            return true;
                        } else {
                            alert(data.msz);
                            return false;
                        }
                    }
                });
            }
        }
    </script>
    <style type="text/css">
        .settings .floor-section-toggle1 {
            width: 97.5% !important;
        }

        .evo-palette, .evo-palette-ie {
            border-collapse: separate !important;
            border-spacing: 4px 0 !important;
        }

        .evo-pop:after, .evo-pop-ie:after, .evo-colorind:after, .evo-colorind-ie:after, .evo-colorind-ff:after, .evo-color span:after, .evo-cHist:after {
            clear: both !important;
            content: "." !important;
            display: block !important;
            font-size: 0 !important;
            height: 0 !important;
            visibility: hidden !important;
        }

        .evo-pop {
            padding: 3px 3px 0 !important;
            width: 204px !important;
            z-index: 10000 !important;
        }

        .evo-palette td {
            border: 1px solid #C0C0C0 !important;
            cursor: pointer !important;
            font-size: 1px !important;
            padding: 7px !important;
        }

        .evo-palette tr.in td {
            border-bottom: 0 none !important;
            border-top: 0 none !important;
        }

        .evo-palette td {
            border: 1px solid #C0C0C0 !important;
            cursor: pointer !important;
            font-size: 1px !important;
            padding: 7px !important;
        }

        .evo-palette td {
            border: 1px solid #C0C0C0 !important;
            cursor: pointer !important;
            font-size: 1px !important;
            padding: 7px !important;
        }

        .evo-palette td {
            float: none !important;
        }

        .evo-palette tr {
            border-bottom: 0 !important;
            float: none !important;
            width: auto !important;
        }

        .evo-pop.ui-widget.ui-widget-content.ui-corner-all {
            background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #8E8E8E;
            position: absolute;
            top: 30px;
        }

        table.evo-palette2 tr td {
            float: none !important;
            padding: 6px 7px !important;
        }
    </style>
