@model AISModels.Reservation
@using AIS.Models
@{
    ViewBag.Title = "Reserve";
    Layout = "~/Views/Shared/_LayoutOnline.cshtml";
    var company = string.Empty;
    try
    {
        company = ViewBag.company;
    }
    catch (Exception)
    {
        company = string.Empty;

    }
    
    int count = 1;
    UsersContext db = new UsersContext(company);
    var Address = db.tabSettings.Where(s => s.Name.Contains("Address")).Single().Value;
   var PhoneSetting = db.tabSettings.Where(s => s.Name.Contains("Phone")).Single().Value;
   string[] values = Address.Split(',');
   string laststring = Address.Split(',').Last();
    int stringcount = values.Count();

}
@section styles{
    <style type="text/css">
        .result-secL img.img-responsive {
            width: 100%;
        }

        /* Flexible iFrame */

        .Flexible-container {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px;
            height: 0;
            overflow: hidden;
        }

            .Flexible-container iframe,
            .Flexible-container object,
            .Flexible-container embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
    </style>
}
@section scripts{
    <script>
        function ConfirmCancel(formObj) {
            if (confirm("ARE YOU SURE YOU WANT TO CANCEL THIS RESERVATION?")) {
                $(formObj).parent('form').submit();
            }
        }
    </script>

    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>

    <script>
        var contentString = '<div id="content">' +
   '<div id="siteNotice">' +
   '</div>' +

   '<div id="bodyContent">' +
   '<p><b>' +"@Address"+'</b>,</p>' +

   '</div>' +
   '</div>';

        var newOne = "@Address"
        var newLatLog;
        geocoder = new google.maps.Geocoder();
        console.log(newOne);

        geocoder.geocode({ 'address': newOne }, function (results, status) {


            var latlong = results[0].geometry.location;
            newLatLog = new google.maps.LatLng(latlong.lat(), latlong.lng())
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            var aa = {
                zoom: 16,
                center: newLatLog
            };
            var newmap = new google.maps.Map(document.getElementById('map'), aa);

            marker = new google.maps.Marker({
                map: newmap,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position: latlong
            });
            //google.maps.event.addListener(marker, 'click', toggleBounce);
            google.maps.event.addListener(marker, 'click', function () {

                toggleBounce();
                infowindow.open(newmap, marker);
            });




        });
        //}

        function toggleBounce() {

            if (marker.getAnimation() != null) {
                marker.setAnimation(null);
            } else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
            }
        }
    </script>
}

<div class="row welcome-txt">
    <span style="float:left; color:#7e7e7e;">
        Welcome <strong style="font-weight:400; color:#000;">@Model.Customers.FirstName @(((Model.Customers.LastName.Length > 1) ? Model.Customers.LastName.Remove(1) : Model.Customers.LastName))</strong>
    </span>
    <h1 style="float:right !important; font-size:24px;">Your Reservation is Booked.</h1>
</div>
<div class="row reservation">
    <ul class="col-xs-6 col-sm-4 col-md-4 info pull-left">
        <li>Date:    <span>    @Model.ReservationDate.ToString("ddd, MMM dd")</span></li>
        <li>Time:    <span>   @Model.TimeForm.ToString("h:mm tt")</span></li>
        <li>Guests:  <span>  @Model.Covers Guests</span></li>
    </ul>

    <ul class="col-xs-6 col-sm-8 col-md-8 Address pull-right">
        <li><span>Restaurant Address</span></li>
        @foreach (var item in values)
        {
            if (stringcount - 1 == count)
            {
                <li>@item,@laststring</li>
            }
            else if (stringcount > count)
            {

                <li>@item,</li>
            }


            count++;
        }
        <li><span>Call us at</span></li>
        <li>@PhoneSetting</li>
        @*<li>1517 Anderson St.</li>
            <li>Granville Island, Vancouver, BC</li>
            <li>V6H 3R5</li>
            <li>Canada</li>*@
    </ul>

</div>

<div class="row result-sec">
    <div class="result-secL Flexible-container" id="map">
        @*<img class="img-responsive" src="http://maps.googleapis.com/maps/api/staticmap?center=The+Vancouver+fish+company+1517+Anderson+St.+Vancouver,+BC&zoom=17&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:red%7Clabel:A%7CThe+Vancouver+fish+company+1517+Anderson+St.+Vancouver,+BC" alt="Google Map of The Vancouver fish company 1517 Anderson St. Vancouver, BC" />*@
        @*<iframe class="img-responsive" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2603.3046117541994!2d-123.1349445!3d49.270625!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xd232cce689b2789f!2sThe+Vancouver+Fish+Company!5e0!3m2!1sen!2sca!4v1430114659034" width="740" height="370" frameborder="0" style="border:0"></iframe>*@
        @*<div id="map"></div>*@
    </div>
    <div class="col-md-12 map-btns">
        <div class="col-md-4" style="padding:0px;">
            @*<form method="get" action="/Online/Edit/@Model.ReservationId" novalidate="novalidate">

                    <button type="submit" class="ER-btn">Edit Reservation</button>
                </form>*@
            @using (Html.BeginForm("Edit", "Online", new
                        {
                            id = Model.ReservationId,

                        }, FormMethod.Get))
            {
                @Html.Hidden("company", company)
                <button class="ER-btn" type="submit">Edit Reservation</button>
            }
        </div>
        <div class="col-md-4" style="padding:0px;">
            @using (Html.BeginForm("Cancel", "Online", new
                        {
                            id = Model.ReservationId,
                            company = company,
                        }, FormMethod.Post))
            {
                @Html.Hidden("company", company)
                <button class="CR-btn" type="button" onclick="ConfirmCancel(this)">Cancel Reservation</button>
            }
        </div>
        <div class="col-md-4" style="padding:0px;">
            <button type="button" class="D-btn" onclick="window.location.href='/@company/online'"> Done</button>
        </div>

    </div>

</div>
