@model  AIS.Models.ReservationVM
@{
    ViewBag.Title = "Reserve";
    Layout = "~/Views/Shared/_LayoutOnline.cshtml";
    var company = Request["company"].ToString();
}
@section scripts{
    @if (Model != null)
    {
        <script type="text/javascript">
    $("#Processing").hide();
    $("form").submit(function () {
        var form = $(this);
        if (form.valid()) {
            $(this).validate();
            $("#MakeReservation").hide();
            $("#Processing").show();
        }
    });
    var alreadPrompted = false;

    var timeOut = 300;
    var timer = window.setInterval(function () {
        if (timeOut == 0) {
            clearInterval(timer);
            @*ReleaseTable('@Model.tableIdd');*@
            window.location.href = '/online/ReserveFail/1&company=@company';
        }
        else {
            var min = parseInt(timeOut / 60);
            var sec = parseInt(timeOut % 60)
            min = min < 10 ? '0' + min : min;
            sec = sec < 10 ? '0' + sec : sec;
            $('#count-down').text(min + ':' + sec);
            timeOut--;
        }
    }, 1000);

    $(document).ready(function () {
        $(window).bind('beforeunload', function (event) {
            return ReleaseTable('@(((Guid)ViewBag.BlockId).ToString())');
        });
    });

    function ReleaseTable(tableId) {
        if (!alreadPrompted) {
            alreadPrompted = true;
            $.ajax({
                url: '@Url.Action("ReleaseTable")',
                async: false,
                timeout: 4000,
                data: { id: tableId, company: "@company" },
                type: 'POST'
            });
        }
    }
        </script>
    }
}


<div class="row main-hding">
    <h3>Confirm Reservation</h3>
    <span style="float:right;"><a href="/@company/online" class="btn btn-default cancel-btn">Cancel</a></span>
</div>
<div class="row reservation">
    <ul class="col-xs-6 col-sm-4 col-md-4 info pull-left">
        <li>Date: <span> @Model.resDate.ToString("ddd, MMM dd")</span></li>
        <li>Time: <span> @Model.time</span></li>
        <li>Guests: <span> @Model.Covers Guests</span></li>
    </ul>

    <ul class="col-xs-6 col-sm-8 col-md-8 Address pull-right">
        <li><span>Address</span></li>
        <li>1517 Anderson St.</li>
        <li>Granville Island, Vancouver, BC</li>
        <li>V6H 3R5</li>
        <li>Canada</li>
    </ul>

</div>
<div class="row result-sec">
    <div class="result-secL">
        @if (Model != null)
        {
            using (Html.BeginForm("Reserve", "Online", new { company = company }, FormMethod.Post, new { @id = "RegisterUser", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(m => m.Covers)
                @Html.HiddenFor(m => m.Duration)
                @Html.Hidden("resDate", Model.resDate.ToString("dddd, dd MMM, yy"))
                @Html.HiddenFor(m => m.ShiftId)
                @Html.HiddenFor(m => m.TablePositionLeft)
                @Html.HiddenFor(m => m.TablePositionTop)
                @Html.HiddenFor(m => m.time)
                @Html.HiddenFor(m => m.tableIdd)

                <p>Please complete the details below:<span style="float:right; text-align:right;">TIME TO COMPLETE : <span id="count-down" style="color:#000; font-size:24px;">00:00</span></span></p>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    @Html.TextBoxFor(m => m.FirstName, new { @placeholder = "First name", @class = "form-control txtflds" })
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    @Html.TextBoxFor(m => m.LastName, new { @placeholder = "Last name", @class = "form-control txtflds" })
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    @Html.ValidationMessageFor(m => m.MobileNumber)
                    <br />
                    @Html.TextBoxFor(m => m.MobileNumber, new
                    {
                        @placeholder = "Phone Number",
                        @class = "form-control txtflds",
                        @data_val_required = "Please enter a 10 digit phone number."
                    })
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    @Html.ValidationMessageFor(m => m.Email)
                    <br />
                    @Html.TextBoxFor(m => m.Email, new
                    {
                        @placeholder = "Email",
                        @class = "form-control txtflds",
                        @data_val_regex = "Please enter valid email address.",
                        @data_val_required = "Please enter an email address."
                    })
                </div>
                <div class="col-md-12 form-group">
                    @Html.TextAreaFor(m => m.ReservationNote, new { @rows = "3", @placeholder = "Reservation Notes", @class = "form-control txtflds" })
                </div>
                @*<div class="checkbox checkbtn">
                        <label>
                            <input id="IsAgree" type="checkbox" value="true" name="IsAgree" data-val-required=" " data-val-checkboxtrue=" " data-val="true">
                            By completing your reservation, you agree to the Terms of Use listed <a href="javascript:void(0)">here</a>.
                        </label>
                    </div>*@

                <button type="button" id="Processing" class="reserve-btn" style="display:none;">Processing....</button>
                <button type="submit" id="MakeReservation" class="reserve-btn"> Make Reservation</button>
            }
        }
        else
        {
            <h2><span style="color:gray;">Sorry, The reservation is no more available.</span></h2>
        }
    </div>
</div>
