@model AISModels.CustomersPhoneNumbers

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CustomersPhoneNumbers</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerId, "Customers")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CustomerId", String.Empty)
            @Html.ValidationMessageFor(model => model.CustomerId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhoneTypeId, "PhoneTypes")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PhoneTypeId", String.Empty)
            @Html.ValidationMessageFor(model => model.PhoneTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhoneNumbers)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhoneNumbers)
            @Html.ValidationMessageFor(model => model.PhoneNumbers)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
