@model AIS.Models.UserProfile
@using Microsoft.AspNet.Identity;
           @using AIS;
           @using (var companyUserManger = AIS.ApplicationUserManager.Create(User.Identity.GetDatabaseName()))
           {
               var uid = User.Identity.GetUserId<long>();
               var superuserrole = companyUserManger.IsInRole(User.Identity.GetUserId<long>(), "SuperAdmin");
               var userrole = companyUserManger.IsInRole(User.Identity.GetUserId<long>(), "Admin");
               if (Model.Id == uid)
               {
                <input id="checkuser" type="hidden" name="name" value="True" />
               }
               else
               {
                <input id="checkuser" type="hidden" name="name" value="@superuserrole.ToString()" />
               }



<div class="section-l-img">
    @if (Model.PhotoPath != null)
    {
        <img class="new-pro-pic" src="@Model.PhotoPath" alt="" height="120" width="120" style="margin:5px;">
    }
    else
    {
        <img class="new-pro-pic" src="/images/pro-pic.png" alt="" height="120" width="120"
             style="margin: 5px;">
    }
    <span class="c-status">
        @if (Model.Availability == null || Model.Availability == false)
        {
            <img src="/images/none-icon.png" alt="" />
            @Html.Raw("Unavailable")
        }
        else
        {
            <img src="/images/available-icon.png" alt="" />
            @Html.Raw("Available")
        }
    </span>
</div>
<div class="section-r-info">
    <span class="s-rating-pro">
        @if (userrole || superuserrole)
        {
            <img src="/images/s-rating-pro.png" alt="" />
        }
        else
        {
            <img src="/images/admin-rating.png" alt="" />
        }
    </span>
    <h1>
        @Model.FirstName @(Model.LastName)@((Model.Designation != null) ? Html.Raw("<font size='3' weight='lighter' style='color: #888'>-" + Model.Designation.Desgination + "</font>") : null)
    </h1>
    <p>
        User PIN
    </p>
    <h5>
        @Model.UserCode

        @if (Model.EnablePIN)
        {
            <img src="~/Images/correct.gif" style="position:relative;left:0px;top:6px" />
        }
        else
        {
            <img src="~/Images/wrong.png" style="position:relative;left:0px;top:6px" />
        }
    </h5>
    <p>
        Email
    </p>
    <h5>
        @Model.UserName
    </h5>
    @{
        var stringBuilder = new System.Text.StringBuilder();

        foreach (var phone in Model.PhoneNumbers.ToList())
        {
            stringBuilder.AppendFormat("<p>" + phone.PhoneType.PhoneType + "</p><h5>{0} </h5> ", Convert.ToInt64(phone.PhoneNumber.Replace(" ", string.Empty)).ToString("000'-'000'-'0000"));
        }

        if (stringBuilder.Length > 2)
        {
            stringBuilder.Length -= 2;
        }
    }
    @Html.Raw(stringBuilder.ToString())
</div>
           }

<script>

    $(document).ready(function () {
        debugger;
        var test = $("#checkuser").val();
        if (test == "True") {
            $(".hideadmin").show();
        }
        else {

            $(".hideadmin").hide();
        }


    });
</script>