@using AIS.Extensions;
@model AISModels.ShiftNotes
@{
    var date = @Model.Date;
}
@using (Ajax.BeginForm(
    "SaveShiftNotes",
    "Calendar",
    new AjaxOptions()
    {
        OnSuccess = "successShiftNotes"
    }))
{
    <div class="for-edit">
        <h1>
            Shift Notes</h1>
        <div class="add-new-inner">
            <div class="add-new-sec-1">
                @*<label>
                    Notes</label>*@
                <br />
                <h3 style="float: left;">@(string.Format("{0}, {1} {2}, {3}", date.DayOfWeek.ToString(), date.ToString("MMMM"), date.Day.AsOrdinal(), date.Year))</h3>
            </div>
            <div>
                @Html.HiddenFor(p => p.DayShiftNotesId)
                @Html.TextAreaFor(p => p.Notes, new { @rows = "26", @resize = "vertical" })
                @Html.ValidationMessageFor(p => p.Notes)
                @Html.HiddenFor(p => p.Date)
                @Html.HiddenFor(p => p.FoodMenuShiftId)
                @Html.HiddenFor(p => p.Type)
            </div>
        </div>
    </div>
    <div>
        <input type="submit" value="Cancel" onclick="return hideDayShiftNotes()" />
        <input type="submit" value="Save" name="" />
    </div>
}