@model AIS.Models.WeekVM
<div class="for-edit-section">
    <ul class="day-week-links">
        <li><a href="/Calendar/Days">DAY</a></li>
        <li><a class="active" href="javascript:void(0)">WEEk</a></li>
        <li><a href="/Calendar/Months">MONTH</a></li>
    </ul>
    <div class="search-bar">
        <input type="text" placeholder="Search by Name or Phone Number" value="" name=""
               id="search" />
        <a href="javascript:void(0)" onclick="getWeekList()">
            <img alt="" src="/images/search-icon.png">
        </a>
    </div>
    <h2>
        <span>@Model.TimeData.Sum(p => p.wDay.Sum(d => d.Reservations.Sum(r => r.Covers)))</span>&nbsp;Covers
    </h2>
    <h2>
        <span>@Model.TimeData.Sum(p => p.wDay.Sum(d => d.Reservations.Count()))</span>&nbsp;Parties
    </h2>
</div>
<div class="cal-main-tab">
    <table class="cal-table-n" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <td>
                    GMT-08
                </td>
                @foreach (var day in Model.TimeData[0].wDay)
                {
                    <td>
                        @day.day.ToString("ddd dd")
                    </td>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var time in Model.TimeData)
            {
                <tr>
                    <td>
                        @(DateTime.Now.Date.AddHours(time.time.Hours).ToString("hh tt"))
                    </td>
                    @{var j = 1;}
                    @foreach (var day in time.wDay)
                    {
                        var RCount = day.Reservations.Count;
                        var i = 1;

                        <td style="@(day.day == ViewBag.date ? "background-color:#F8F8F8;" : string.Empty)" class="@(RCount > 0 ? (j <= 3 ? "reser-tool-tip" : "reser-tool-tip-l") : string.Empty)">
                            @if (RCount > 0)
                            {
                                <a href="javascript:void(0)" class="jt" rel="#resPop@(day.day.Day)@(time.time.Hours)">
                                    <p>
                                        <span>@RCount</span> Reservations
                                    </p>
                                </a>
                                <div class="@(j <= 3 ? "show-tooltip-right" : "show-tooltip-left")" id="resPop@(day.day.Day)@(time.time.Hours)" style="position:relative;">
                                    <div class="table-tooltip-inner content_1">
                                        @foreach (var res in day.Reservations)
                                        {
                                            <div class="row" id="@res.ReservationId">
                                                <h2>
                                                    @(i). @res.Customers.FirstName @res.Customers.LastName
                                                    <br />
                                                    <span>@res.TimeForm.ToString("hh:mmtt") <strong>@res.FoodMenuShift.MenuShift</strong></span>
                                                </h2>
                                                <h3>
                                                    Covers<br />
                                                    <strong>@res.Covers Guests</strong>
                                                </h3>
                                                <h3 class="rowtbl">
                                                    Table<br />
                                                    <strong>@(res.FloorTableId > 0 ? res.FloorTable.TableName : res.MergedFloorTable.TableName)</strong>
                                                </h3>
                                                <img class="status-img" src="/images/@(res.StatusId == null ? "not-confirmed" : res.Status.StatusName).png" alt="" />
                                            </div>
                                            { i++; }
                                        }
                                    </div>
                                    <div class="tool-bottom-bar">
                                        <h5>
                                            Total <strong>@RCount Reservations</strong>
                                        </h5>
                                        <ul class="tool-icon">
                                            @*<li class="add-tool"><a href="/FloorPlan/FloorPlan"></a></li>*@
                                            <li class="add-tool">
                                                @Html.ActionLink(" ",
                                                    "FloorPlan",
                                                    "FloorPlan",
                                                    new
                                                    {
                                                        resDate = day.day.ToString("dddd, dd MMM, yy"),
                                                        time = new DateTime().AddHours(time.time.Hours).ToString("ddMMyyyyhhmmtt") +
                                                               " - " +
                                                               new DateTime().AddHours(time.time.Hours).AddMinutes(15).ToString("ddMMyyyyhhmmtt") +
                                                               " - " +
                                                               day.Reservations.First().FoodMenuShiftId
                                                    },
                                                    null)
                                            </li>
                                            <li class="edit-tool"><a href="javascript:void(0)"></a></li>
                                            <li class="delete-tool"><a href="javascript:void(0)"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            }
                            else
                            {
                                @Html.ActionLink(
                                    " ",
                                    "FloorPlan",
                                    "FloorPlan",
                                    new
                                    {
                                        resDate = day.day.ToString("dddd, dd MMM, yy")
                                    },
                                    new
                                    {
                                        style = "height:100%;width:100%;padding:2px 56px 31px;"
                                    })
                            }
                        </td>
                            { j++; }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(function () {

        @if (ViewBag.shiftId is Int64)
        {
            @Html.Raw("$('#shiftddl').val('" + (Int64)ViewBag.shiftId + "');")
        }
    });
</script>
