@model IEnumerable<AIS.Models.CheckListVM>
@{ 
    int i = 1;
}
@foreach (var item in Model)
{
    if (i == 1)
    {
    @Html.Raw("<div class='col-check-mian'>")
    }
        
    <span class="col-check">
        <input class="custom_check" type="checkbox" name="@item.PropertyName" @(Html.Raw(item.IsChecked ? "checked=\"checked\"" : "")) id="@item.Name" value="@item.Value" @(Html.Raw(item.IsDisabled ? "disabled=\"disabled\"" : "")) />
        <label for="@item.Name">
            @item.Name
        </label>
    </span>    
    if (i == 1)
    {
        i = 2;
    @Html.Raw("</div>")
    }
    else
    {
        i--;
    }

}