@model AIS.Models.TableAvailablity.TableAvailNewVM
@{
    int i = 1;
    int j = 1;
    var tabMatrix = ViewBag.TabMatrix;
}
<style>
    .tblvail-sec .avail-main-tab table.avail-table tbody tr td {
        font-size: 9px;
        height: 18px;
        width: 16.7px;
    }

        .tblvail-sec .avail-main-tab table.avail-table tbody tr td > a {
            display: table-cell;
            height: 17px;
            width: 17px;
            padding: 0;
        }

    .tblvail-sec .avail-main-tab table.avail-table thead tr td {
        font-size: 9px;
    }

        .tblvail-sec .avail-main-tab table.avail-table thead tr td span.arw {
            background: rgba(0, 0, 0, 0) url("/images/1403094036_icon-arrow-down-b.png") no-repeat scroll 0 9px;
        }

    .tblvail-sec .avail-main-tab table.avail-table tr td.tblnm:last-child {
        width: 96px;
    }
</style>
<script>
    $('.demo-x .avail-table').width(((("@tabMatrix") * 1607) / 100) + 'px');

    $('.tblvail-sec .avail-main-tab table.avail-table thead tr td').each(function () {
        $(this).css({ 'font-size': ((9 * ("@tabMatrix")) / 100) + 'px' });
    });

    $('.tblvail-sec .avail-main-tab table.avail-table tbody tr td').each(function () {
        $(this).css({ 'font-size': ((9 * ("@tabMatrix")) / 100) + 'px', 'height': ((18 * ("@tabMatrix")) / 100) + 'px', 'width': ((16.7 * ("@tabMatrix")) / 100) + 'px' });
    });
    $('.tblvail-sec .avail-main-tab table.avail-table tr td.tblnm:last-child').each(function () {
        $(this).css({ 'width': ((96 * ("@tabMatrix")) / 100) + 'px' });
    });
    $('.tblvail-sec .avail-main-tab table.avail-table tbody tr td > a').each(function () {
        $(this).css({ 'height': ((16 * ("@tabMatrix")) / 100) + 'px', 'width': ((16 * ("@tabMatrix")) / 100) + 'px' });
    });
    $('.availT').each(function () {
        $(this).css({ 'width': ((133 * ("@tabMatrix")) / 100) + 'px' });
    });
</script>
<div class="availT" style="float: left; width: 133px; height: auto;">
    <table class="avail-table" cellpadding="0" cellspacing="0" style="width: 133px; border-collapse: collapse;">
        <thead>
            <tr>
                <td>
                    Lvl
                </td>
                <td>
                    SP
                </td>
                <td class="tblnm">
                    Tbl
                </td>
            </tr>
            <tr>
                <td class="shft0" colspan="3" style="width: 132px; padding-left: 17px;">
                    <strong>@Model.Tables[0].AvailStatus[0].time.Date.ToString("ddd, MMM d")</strong>
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var table in Model.Tables)
            {
                <tr>
                    <td>
                        @table.FloorTable.FloorPlan.FLevel
                    </td>
                    <td>
                        @table.FloorTable.SeatingPriority
                        @*@((table.FloorTable.IsTemporary == null) || (table.FloorTable.IsTemporary == false) ? "P" : "T")*@
                    </td>
                    <td class="tblnm" @((table.FloorTable.SectionId != 0) ? "style=color:white;background:" + (table.FloorTable.Section.Color) + ";" : string.Empty)>
                        @table.FloorTable.TableName
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="demo-x" style="float: left; height: auto; width: calc(100% - 135px);">
    <table class="avail-table" cellpadding="0" cellspacing="0" style="width: 1607px;
        border-collapse: collapse;">
        <thead>
            <tr>
                <td colspan="100" style="width: 100%">
                    <strong>@Model.Tables[0].AvailStatus[0].time.Date.ToString("dddd, MMMM d, yyyy")</strong>
                </td>
            </tr>
            <tr>
                @foreach (var item in @Model.Tables[0].AvailStatus)
                {

                    if (i == 1)
                    {
                        <td class="shft@(item.shiftId)">
                            <span class="arw">@(item.time.ToString("HH").Contains("00") == true ? item.time.ToString("HH") : item.time.ToString("HH").TrimStart('0'))</span>
                        </td>
                        i = 4;
                    }
                    else
                    {
                        i--;
                        <td class="shft@(item.shiftId)">
                            <span>@item.time.ToString(":mm")</span>
                        </td>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var table in Model.Tables)
            {
                <tr>
                    @foreach (var AvailStatus in table.AvailStatus)
                    {
                        var beginHr = string.Empty;

                        if (i == 1)
                        {
                            beginHr = "bhr";
                            i = 4;
                        }
                        else
                        {
                            i--;
                        }


                        if (AvailStatus.Status == 4)
                        {
                            <td class="tblSts@(AvailStatus.Status) @(beginHr)" onclick="{hidePopUpOnClick = true;}">
                                <a title="" rel="#resPopUpTTip@(AvailStatus.Reservation.ReservationId)" href="javascript:void(0)" class="jt" style="cursor: pointer;">
                                    @if (AvailStatus.IsResStart == true)
                                    {
                                        @Html.Partial("~/Views/FloorPlan/ReservationEditPopupPartial.cshtml", AvailStatus.Reservation)
                                    }
                                </a>
                            </td>
                        }
                        else if (AvailStatus.shiftId > 0)
                        {
                            <td class="tblSts@(AvailStatus.Status == 0 ? 3 : AvailStatus.Status) @(beginHr)">
                                <a href="@(Url.Action("Edit", "TableAvailablity", new AIS.Models.TableAvailablity.EditAvailVM
                                     {
                                         StartDate = AvailStatus.time.Date.ToString("MM/dd/yyyy"),
                                         EndDate = AvailStatus.time.Date.ToString("MM/dd/yyyy"),
                                         StartTime = AvailStatus.time.ToString("h:mm tt"),
                                         EndTime = AvailStatus.time.AddMinutes(15).ToString("h:mm tt"),
                                         selectedWeekDays = AvailStatus.time.DayOfWeek.ToString(),
                                         selectedTables = table.FloorTable.FloorTableId,
                                         selectedAvailability = AvailStatus.Status
                                     }))"><span></span></a>
                            </td>
                        }
                        else
                        {
                            <td class="tblSts@(AvailStatus.Status) @(beginHr)"></td>
                        }

                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="btmDiv" style="position:fixed; bottom:0;">
    <div class="section" style="position: relative;">
        <strong>Section:</strong>
        <div class="secSelect">
            <div id="topslider1" class="slider">
                <ul>
                    @{
                        var Sections = Model.Tables.Where(t => !t.FloorTable.SectionId.Equals(0)).Select(t => t.FloorTable.Section).OrderBy(s => s.SectionId).Distinct();
                    }
                    @if (Sections != null)
                    {
                        foreach (var item in Sections)
                        {
                            <li><a href="javascript:void(0)"><span style="background: @item.Color;"></span>@item.Name</a></li>
                        }
                    }
                </ul>
            </div>
            <div class="controls">
                <a href="javascript:void(0)" class="prev-slide">Prev Slide</a> <a href="javascript:void(0)"
                                                                                  class="next-slide">Next Slide</a>
            </div>
        </div>
    </div>
    <div class="section" style="width: 218px;">
        <strong style="margin-left: 3px;">Shift:</strong>
        <div class="secSelect" style="margin: 0;">
            <input type="button" value="Breakfast" style="background: #A9D0F5;" />
            <input type="button" value="Brunch" style="background: #F7BE81;" />
            <input type="button" value="Lunch" style="background: #F5A9A9;" />
            <input type="button" value="Dinner" style="background: #F2F5A9;" />
        </div>
    </div>
    <div class="section" style="width: 237px;">
        <strong style="margin-left: 3px;">Available for:</strong>
        <div class="secSelect" style="margin: 0; width: 350px;">
            <input type="button" value="Online & In House" style="background: #74DF00;" />
            <input type="button" value="In House Only" style="background: #81BEF7;" />
            <input type="button" value="Not Available" style="background: #D8D8D8;" />
            <input type="button" value="Reserved" style="background: #FF8080;" />
        </div>
    </div>
</div>
<div class="btmDiv" style="border:none">
</div>
