@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=320, user-scalable=no" />
    <link href='//fonts.googleapis.com/css?family=Lato:400,700,400italic,300italic,900,700italic,900italic'
          rel='stylesheet' type='text/css' />
    @Styles.Render("~/AIS/css")
    @RenderSection("styles", false)
    <style type="text/css">
        .field-validation-error {
            color: red !important;
            margin: 0 auto;
        }

        .input-validation-error {
            border: 1px solid red !important;
        }

        .settings .menu-bar {
            z-index: 9 !important;
        }

        #loadingTop {
            background: none repeat scroll 0 0 #E8867C;
            border-radius: 0 0 7px 7px;
            color: #FFFFFF;
            height: 25px;
            left: 0;
            line-height: 28px;
            margin: 0 auto;
            padding: 3px 6px;
            position: fixed;
            right: 0;
            text-align: center;
            top: 0;
            width: 100px;
            z-index: 2147483647;
            display: none;
        }

            #loadingTop > img {
                float: left;
                margin: 3px 3px 0 12px;
            }

            #loadingTop > span {
                float: left;
                line-height: 21px;
            }
    </style>
    @Scripts.Render("~/bundles/jquery")
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
    @RenderSection("head", false)
</head>
<body>
    <div class="wrapper settings">
        @RenderBody()
    </div>
    <div id="divLoading" style="width: auto; display: none; z-index: 99999; position: relative;">
        <img src="../../Images/ajaxLoader.gif" alt="LOADING..." />
    </div>
    <div id="loadingTop">
        <img src="../../Images/ajax-loaderTop.gif" alt="" />
        <span>Loading...</span>
    </div>
    <div id="backfade">
    </div>
    @RenderSection("foot", false)
    @Scripts.Render("~/bundles/jqueryval", "~/js/jquery.mCustomScrollbar.concat.min.js")
    @*<script type="text/javascript">
        (function ($) {
            $(window).load(function () {
                $(".content_1").mCustomScrollbar({
                    set_width: false, /*optional element width: boolean, pixels, percentage*/
                    set_height: false, /*optional element height: boolean, pixels, percentage*/
                    horizontalScroll: false, /*scroll horizontally: boolean*/
                    scrollInertia: 0, /*scrolling inertia: integer (milliseconds)*/
                    mouseWheel: true, /*mousewheel support: boolean*/
                    mouseWheelPixels: "auto", /*mousewheel pixels amount: integer, "auto"*/
                    autoDraggerLength: true, /*auto-adjust scrollbar dragger length: boolean*/
                    autoHideScrollbar: false, /*auto-hide scrollbar when idle*/
                    scrollButtons: { /*scroll buttons*/
                        enable: true, /*scroll buttons support: boolean*/
                        scrollType: "continuous", /*scroll buttons scrolling type: "continuous", "pixels"*/
                        scrollSpeed: "auto", /*scroll buttons continuous scrolling speed: integer, "auto"*/
                        scrollAmount: 40 /*scroll buttons pixels scroll amount: integer (pixels)*/
                    },
                    advanced: {
                        updateOnBrowserResize: true, /*update scrollbars on browser resize (for layouts based on percentages): boolean*/
                        updateOnContentResize: true, /*auto-update scrollbars on content resize (for dynamic content): boolean*/
                        autoExpandHorizontalScroll: false, /*auto-expand width for horizontal scrolling: boolean*/
                        autoScrollOnFocus: false, /*auto-scroll on focused elements: boolean*/
                        normalizeMouseWheelDelta: false /*normalize mouse-wheel delta (-1/1)*/
                    },
                    contentTouchScroll: true, /*scrolling by touch-swipe content: boolean*/
                    callbacks: {
                        onScrollStart: function () { }, /*user custom callback function on scroll start event*/
                        onScroll: function () { }, /*user custom callback function on scroll event*/
                        onTotalScroll: function () { }, /*user custom callback function on scroll end reached event*/
                        onTotalScrollBack: function () { }, /*user custom callback function on scroll begin reached event*/
                        onTotalScrollOffset: 0, /*scroll end reached offset: integer (pixels)*/
                        onTotalScrollBackOffset: 0, /*scroll begin reached offset: integer (pixels)*/
                        whileScrolling: function () { } /*user custom callback function on scrolling event*/
                    },
                    theme: "light" /*"light", "dark", "light-2", "dark-2", "light-thick", "dark-thick", "light-thin", "dark-thin"*/
                });
                $(".demo-x").mCustomScrollbar({
                    axis: "x",
                    advanced: { autoExpandHorizontalScroll: true }
                });
            });
        })(jQuery);

        function BindScroll(parent, isRebuild) {
            (function ($) {
                setTimeout(function () {
                    try {
                        if (isRebuild) {
                            $(parent + " .content_1").mCustomScrollbar('destroy');
                        }
                        $(parent + " .content_1").mCustomScrollbar();
                        $(parent + " .content_1").mCustomScrollbar({ updateOnContentResize: true });
                    } catch (e) {
                        //debugger;
                    }
                }, 500);
            })(jQuery);

        }
    </script>*@
    <script type="text/javascript">
        function showLoadingPanel() {
            //Popup.showModal('divLoading', null, null, { 'screenColor': '#000', 'screenOpacity': .7 });
            $('#loadingTop').fadeIn();
        }

        function hideLoadingPanel() {
            //Popup.hide('divLoading');
            $('#loadingTop').fadeOut();
        }

        $(function () {

            $(document).ajaxStart(function () {
                showLoadingPanel();
            });

            $(document).ajaxStop(function () {

                setTimeout(function () {
                    hideLoadingPanel();
                }, 500);

            });

            $.ajaxSetup({
                async: true
            });
        })

    </script>
    @*<script type="text/javascript">
        (function ($) {
            $(".content_1").mCustomScrollbar({ updateOnContentResize: true });
        })(jQuery);
    </script>*@
    @RenderSection("scripts", false)
</body>
</html>
