<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=1024, user-scalable=no" />
    <link href='//fonts.googleapis.com/css?family=Lato:400,700,400italic,300italic,900,700italic,900italic'
          rel='stylesheet' type='text/css' />
    @Styles.Render("~/AIS/css")
    @Styles.Render("~/css/Online/Online.css")
    <style type="text/css">
        .field-validation-error {
            color: red !important;
            margin: 0 auto;
        }

        .input-validation-error {
            border: 1px solid red !important;
        }
    </style>
    @RenderSection("styles", false)
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="wrapper login">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", false)
    @Scripts.Render("~/Scripts/jquery-cookie-plugin.js", "~/Scripts/Common/ClientTime.js")
</body>
</html>
