@{
    var logoSetting = string.Empty;
    var PhoneSetting = string.Empty;
    var company = string.Empty;
    var restaurantName = string.Empty;

    try
    {
        company = ViewContext.RouteData.Values["company"].ToString();
    }
    catch (Exception)
    {

        try
        {
            company = Request["company"].ToString();
        }
        catch (Exception)
        {

            company = ViewBag.company;
        }

    }

    using (var db = new AIS.Models.UsersContext(company))
    {
        logoSetting = db.tabSettings.Where(s => s.Name.Contains("OnlineResosL")).Single().Value;
        PhoneSetting = db.tabSettings.Where(s => s.Name.Contains("Phone")).Single().Value;
        restaurantName = db.Users.OrderBy(c => c.Id).ToList().Skip(1).First().VenueName;
    }
}
<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/Online/css/bootstrap.min.css",
            //"~/Content/Online/css/bootstrap-select.css",
    "~/Content/Online/css/style.css",
    "~/Content/themes/base/minified/jquery-ui.min.css",
    "~/Content/themes/base/minified/jquery.ui.datepicker.min.css")
    <style type="text/css">
        .field-validation-error {
            color: red !important;
            margin: 0 auto;
        }

        .input-validation-error {
            border-color: #ff0000;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(233, 0, 0, 0.6);
        }
    </style>
    @RenderSection("styles", false)
    @Scripts.Render("~/bundles/jquery", "~/Content/Online/js/bootstrap.js")
    @*"~/Content/Online/js/bootstrap-select.js")*@
</head>
<body>
    <div class="jumbotron vertical-center">
        <div class="col-md-8 text-center wrapper">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 top-hdr clearfix">
                    <div class="col-xs-6 col-sm-4 col-md-4 top-hdr-left"><a href="#"><img src="@logoSetting" class="img-responsive" alt="" /></a></div>
                    <div class="col-xs-6 col-sm-8 col-md-8 top-hdr-right">
                        <h1><span>@restaurantName</span></h1>
                    </div>
                </div>
            </div>
            @RenderBody()
        </div>
    </div>

    <script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", false)
    @Scripts.Render("~/Scripts/jquery-cookie-plugin.js", "~/Scripts/Common/ClientTime.js")
</body>
</html>
