<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mondofi</title>

    <!-- Bootstrap CSS -->
    <script src="~/Scripts/SwipeJs/SwipeR.js"></script>

    <link href="~/Content/MondofiThemeNew/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/MondofiThemeNew/futurico/futurico.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Rouge+Script' rel='stylesheet' type='text/css'>
    <link href="~/Content/MondofiThemeNew/css/style.css" rel="stylesheet" />

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/css/PNotify/pnotify.custom.min.css")
    <link href="~/css/PNotify/Notifyalert.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="~/Content/MondofiThemeNew/js/bootstrap.min.js"></script>

    <script src="~/Content/MondofiThemeNew/js/icheck.js"></script>
    @Scripts.Render("~/Scripts/PNotify/pnotify.custom.min.js")
    <script type="text/javascript">
    var _alert;

    $(function () {
        consume_alert();
    });

    function consume_alert() {
        if (_alert) return;
        _alert = window.alert;
        window.alert = function (message, options) {
            var defaultOptions = {
                title: false,
                text: message,
                addclass: 'custom',
                styling: 'fontawesome',
                nonblock: {
                    nonblock: true,
                    nonblock_opacity: .2
                },
                delay: 8000
            };

            if (arguments.length > 1)
                $.extend(defaultOptions, options);

            new PNotify(defaultOptions);
        };
    }


    </script>

</head>
<body class="bg-black">
    <section class="sidebar">
        @Html.Partial("_LayoutMondofiHeader")
    </section>

    @RenderBody()


    <section class="sidebar">
        @Html.Partial("_LayoutMondofiFooter")
    </section>
    <!-- jQuery -->
    <!-- Bootstrap JavaScript -->
    <!-- Checkbox radio button -->
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-38431172-1', 'auto');
    ga('send', 'pageview');

    </script>
    <script>
        $(document).ready(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_futurico',
                radioClass: 'iradio_futurico',
                increaseArea: '20%' // optional
            });
        });
    </script>
    <!-- Checkbox radio button -->
    <!-- input placeholders -->
    <script>
        $(function () {
            $("span.holder + input").keyup(function () {
                if ($(this).val().length) {
                    $(this).prev('span.holder').hide();
                } else {
                    $(this).prev('span.holder').show();
                }
            });
            $("span.holder").click(function () {
                $(this).next().focus();
            });

        });
    </script>
    <!-- input placeholders Ends-->
    @RenderSection("scripts", false)
    
    <script src="~/Content/MondofiThemeNew/js/jquery.easing.min.js"></script>
    <script src="~/Content/MondofiThemeNew/js/scrolling-nav.js"></script>
</body>
</html>
