@model IEnumerable<AISModels.FloorPlan>
@{
    var array = new string[] { "Sofa", "Chair", "SofaTable", "Wall", "SolidWall", "GlassWall", "BarTable", "Fence", "Pillar" };
}
<div class="middle-section floor-section">
    <div class="top-filter">
        <ul>
            <li><a href="/Setting/Index">Settings</a></li>
            <li><a href="/User/Index">Users</a></li>
            <li><a href="/ShiftHour/Index">Hours</a></li>
            <li><a class="active" href="/Floor/index">Floorplan</a></li>
            <li><a href="/TableAvailablity/Index">Table Availability</a></li>
            
        </ul>
    </div>
    <div class="for-edit">
        <h1>
            Floorplans</h1>
        <input class="c-new-f-plan" type="button" name="" value="Create New Floorplan" onclick="javascript:window.location='/Floor/NewFloorPlan'" />
        <input class="floor-save" type="button" value="Save" name="" onclick="updateFloorTableAndLevel()" />
    </div>
    <div class="floor-plan-main">
        <table class="floorPlan-edit">
            <thead>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        Level
                    </td>
                    <td>
                        # Tables
                    </td>
                    <td>
                        Table Name
                    </td>
                    <td>
                        Section
                    </td>
                    <td>
                        Temp/Perm
                        <input class="checkbox" type="checkbox" name="" value="" onchange="tempPermanentCheckBox(this)" />
                    </td>
                    <td>
                        Last Edited
                    </td>
                    <td>
                        Action
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="rooftop-toggle">
                        <td>
                            <h2>
                                @item.FloorName</h2>
                        </td>
                        <td>
                            <div class="select-t" id="@item.FloorPlanId">
                                @Html.DropDownList("level", new SelectList(new int[] { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 }, @item.FLevel), new { @class = "slevel", onchange = "showtable(this)" })
                            </div>
                        </td>
                        <td>
                            @item.FloorTables.AsEnumerable().Where(p => !array.Contains(p.TableName.Split('-')[0])).Count()
                        </td>
                        <td>
                            --
                        </td>
                        <td>
                            --
                        </td>
                        <td>
                            --
                        </td>
                        <td class="show-name">
                            @(Convert.ToDateTime(item.UpdatedOn).ToString("dd MMM yyyy"))
                            <span class="tooltip_time-p">
                                <div class="arrow-down">
                                </div>
                                @item.EditerProfile.FirstName @item.EditerProfile.LastName<br />
                                <span>@(Convert.ToDateTime(item.UpdatedOn).ToString("hh:mm tt"))</span> </span>
                        </td>
                        <td>
                        </td>
                        <td>
                            <a  class="edit-img-link" href="/Floor/Edit/@item.FloorPlanId">
                                <img class="edit-img" src="/images/floor-edit.png" alt="" />
                            </a>
                        </td>
                    </tr>
                    <tr class="rooftop-info-main" style="background: none;">
                        <td style="width: 100%; padding: 0;">
                            <div>
                                <div class="rooftop-info content_1" style="height: auto;">
                                    <ul>
                                        @if (item.FloorTables.Count() > 0)
                                        {
                                            foreach (var table in item.FloorTables.AsEnumerable().Where(t => !array.Contains(t.TableName.Split('-')[0])))
                                            {
                                            <li>
                                                <div class="rooftop-info-inner">
                                                    <ul id="@table.FloorTableId">
                                                        <li>@table.TableName</li>
                                                        <li>
                                                            @if (table.SectionId > 0)
                                                            {
                                                                <span style="background:@table.Section.Color;border-radius:10px;padding:0 7px 0 9px;margin-right:5px">
                                                                </span>@table.Section.Name
                                                            }
                                                            else
                                                            {
                                                                <span>Not Assigned</span>
                                                            }
                                                        </li>
                                                        <li>Temporary
                                                            <input class="checkbox" type="checkbox" name="" value="" checked="@table.IsTemporary" /></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            
                                            }
                                        }
                                        else
                                        { 
                                            <li>
                                                <h1>
                                                    No Table.</h1>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
                @*<tr class="rooftop-toggle">
                    <td>
                        <h2>
                            Rooftop Patio</h2>
                    </td>
                    <td>
                        <div class="select-t">
                            <select>
                                <option value="">2</option>
                                <option value="aye">1</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        20
                    </td>
                    <td>
                        --
                    </td>
                    <td>
                        --
                    </td>
                    <td>
                        --
                    </td>
                    <td class="show-name">
                        18 Mar 2014 <span class="tooltip_time-p">
                            <div class="arrow-down">
                            </div>
                            Leigh Manager<br>
                            <span>8:00 PM</span> </span>
                    </td>
                    <td>
                        <a class="edit-img-link" href="/Floor/Edit/1">
                            <img class="edit-img" src="/images/floor-edit.png" alt="" />
                        </a>
                    </td>
                </tr>*@
            </tbody>
        </table>
    </div>
</div>
