@model AIS.Models.TableDesignVM
@{
    var width = 0;
    var height = 0;
    var sideSeat = 0;
    var topSeat = 0;
    var bottomSeat = 0;
    var topbottomleftmargin = 0;
    var sidetopmargin = 0;

    switch (Model.Size.ToLower()) {

        case "small":
            {
                width = 55;
                height = 35;
                topSeat = 1;
                bottomSeat = 1;
                topbottomleftmargin = (((width + 4) - 20) / 4);
                sidetopmargin = ((height - 20) / 2);
                break;
            }
        case "medium":
            {
                width = 60;
                height = 40;
                topSeat = 2;
                bottomSeat = 2;
                topbottomleftmargin = (((width + 4) - 40) / 8);
                sidetopmargin = ((height - 20) / 2);
                break;
            }
        case "large":
            {
                width = 85;
                height = 55;
                sideSeat = 2;
                topSeat = 2;
                bottomSeat = 2;
                topbottomleftmargin = (((width + 16) - 40) / 4);
                sidetopmargin = ((height - 20) / 2);
                break;
            }
        default:
            break;

    }

    
}
<div id="table@(Model.UniqueId)" class="table-main">
    <div class="top-seat1">
        @for (var i = 0; i < topSeat; i++) 
        {
            <div class="seat top-chair" style="float: left; margin-left: @((topbottomleftmargin == 0) ? "" : topbottomleftmargin.ToString())px;">
            </div>
        }
    </div>
    <div class="seat-mid-section">
        @if (sideSeat == 1) 
        {
            <div class="seat l-seat left-chair" style="float:left;margin-top:@(sidetopmargin)px;">
            </div>
            <div onclick="EditTable(this);" class="quan-4-1" style="position: relative;width:@(width)px; float:left;height: @(height)px; border:1px solid #979191;">
                <div class="rotate" style="display: none;">
                    <a title="table@(Model.UniqueId)" href="javascript:void(0);" class="rotateAnti">
                    </a><a title="table@(Model.UniqueId)" href="javascript:void(0);" class="rotateClock">
                    </a>
                </div>
                <h3>@(Model.TableName)</h3>
                <p>@(Model.MinCover)/@(Model.MaxCover)</p>
            </div>
        }
        else if (sideSeat == 2) 
        {
            <div class="seat l-seat left-chair" style="float: left; margin-top: @(sidetopmargin)px;">
            </div>
            <div onclick="EditTable(this);" class="quan-4-1" style="position: relative;width:@(width)px; float:left;height: @(height)px; border:1px solid #979191;">
                <div class="rotate" style="display: none;">
                    <a title="table@(Model.UniqueId)" href="javascript:void(0);" class="rotateAnti">
                    </a><a title="table@(Model.UniqueId)" href="javascript:void(0);" class="rotateClock">
                    </a>
                </div>
                <h3>@(Model.TableName)</h3>
                <p>@(Model.MinCover)/@(Model.MaxCover)</p>
            </div>
            <div class="seat r-seat right-chair" style="float: right; margin-top: @(sidetopmargin)px;">
            </div>
        }
        else 
        {
            <div onclick="EditTable(this);" class="quan-4-1" style="position: relative;width:@(width)px; float:left;height: @(height)px; border:1px solid #979191;">
                <div class="rotate" style="display: none;">
                    <a title="table@(Model.UniqueId)" href="javascript:void(0);" class="rotateAnti">
                    </a><a title="table@(Model.UniqueId)" href="javascript:void(0);" class="rotateClock">
                    </a>
                </div>
                <h3>@(Model.TableName)</h3>
                <p>@(Model.MinCover)/@(Model.MaxCover)</p>
            </div>
        }
    </div>
    <div class="bottom-seat1">
        @for (var j = 0; j < bottomSeat; j++) {
            <div class="seat bottom-chair" style="float: left; margin-left: @((topbottomleftmargin == 0) ? "" : topbottomleftmargin.ToString())px;">
            </div>
        }
    </div>
    <input type="hidden" value="@((Model.TempFloorTableId == 0) ? "" : Model.TempFloorTableId.ToString())" name="TempFloorTableId" id="TempFloorTableId" />
    <input type="hidden" value="@(Model.TableName)" name="tblname" id="tblname" />
    <input type="hidden" value="@(Model.Shape)" name="tbldesign" id="tbldesign" />
    <input type="hidden" value="@(Model.Angle)" name="tblangle" id="tblangle" />
    <input type="hidden" value="@(Model.MinCover)" name="tblmincover" id="tblmincover" />
    <input type="hidden" value="@(Model.MaxCover)" name="tblmaxcover" id="tblmaxcover"/>
    <input type="hidden" value="@((Model.FloorTableId == 0) ? "" : Model.FloorTableId.ToString())" name="FloorTableId" id="FloorTableId" />
</div>
