@model AIS.Models.ReservationEditOptionsVM
@using (Ajax.BeginForm(
    "UpdateRervationEditOptions",
    "Reservation",
    null,
    new AjaxOptions
    {
        HttpMethod = "GET",
        UpdateTargetId = "resOptPart" + (Model.ReservationId),
        OnSuccess = "{" +
                    "   $('.cluetip-outer #resOptPart" + (Model.ReservationId) + "').html(data);" +
                    "   $('#REditForm" + (Model.ReservationId) + "').removeData('unobtrusiveValidation');" +
                    "   $.validator.unobtrusive.parse('#REditForm" + (Model.ReservationId) + "');" +
                    "   DesignCustomDropdowns();" +
                    "}"
    },
    new
    {
        @id = "REditForm" + (Model.ReservationId)
    }))
{ 
    @Html.HiddenFor(m => m.ReservationId)
    @Html.HiddenFor(m => m.Date, new { @onchange = "$(this).parents('form').submit();" })
    @Html.HiddenFor(m => m.StatusId, new { @onchange = "$(this).parents('form').submit();" })
    @Html.HiddenFor(m => m.Covers, new { @onchange = "$(this).parents('form').submit();" })
    @Html.HiddenFor(m => m.Time, new { @onchange = "$(this).parents('form').submit();" })
    @Html.HiddenFor(m => m.Duration, new { @onchange = "$(this).parents('form').submit();" })
    @Html.HiddenFor(m => m.ShiftId, new { @onchange = "$(this).parents('form').submit();" })
    @Html.HiddenFor(m => m.TableId)
}
<div class="pop-sec-c">
    <div class="statusa">
        <div class="staIcon">
            <img src="/images/@(Model.StatusId == 0 ? "not-confirmed" : ((IEnumerable<AISModels.Status>)ViewBag.StatusList).Where(s => s.StatusId == Model.StatusId).Single().StatusName).png" width="39" height="39" alt=""/>
        </div>
        <span class="sft">Status</span>
        @Html.DropDownList("ddlStatus", new SelectList(ViewBag.StatusList, "StatusId", "StatusName", Model.StatusId), new { @class = "custom-select", @onchange = "$('#REditForm" + (Model.ReservationId) + " #StatusId').val(this.value).change();" })
        @Html.ValidationMessageFor(m => m.StatusId)
    </div>
    <div class="status" style="margin-left: 2px; border-bottom: 3px solid #a1d17a;">
        <span class="sft">Covers</span>
        @Html.DropDownList("ddlCover", new SelectList(ViewBag.CoverList, "Value", "Text", Model.Covers), new { @class = "custom-select", @onchange = "$('#REditForm" + (Model.ReservationId) + " #Covers').val(this.value).change();" })
        @Html.ValidationMessageFor(m => m.Covers)
    </div>
</div>
<div class="pop-sec-d">
    <div class="status">
        <span class="sft">Date</span>
        <select class="custom-select">
            <option value="">@(Model.Date.ToString("dd ddd, MMM yyyy"))</option>
        </select>
        @*   @Html.TextBoxFor(m => m.Date, new { @class = "popDate", @id = "popDatePicker"+Model.ReservationId })
        @Html.ValidationMessageFor(m => m.Date)*@
    </div>
</div>
<div class="pop-sec-e">
    <div class="status">
        <span class="sft">Time</span> @*<select id="selectbox1">
            <option value="">@(Model.Time.ToString("hh:mm tt"))</option>
        </select>*@
        @Html.DropDownList("ddlTime", new SelectList(ViewBag.TimeList, "Value", "Text", Model.Time), new { @class = "custom-select", @onchange = "$('#REditForm" + (Model.ReservationId) + " #Time').val(this.value).change();" })
        @Html.ValidationMessageFor(m => m.Time)
    </div>
</div>
<div class="pop-sec-e">
    <div class="status">
        <span class="sft">Duration</span> @*<select id="selectbox1">
            <option value="">@(timeDiff.Hours > 0 ? timeDiff.Hours + "hr " + timeDiff.Minutes + "min" : timeDiff.Minutes + "min")</option>
        </select>*@
        @Html.DropDownList("ddlDuration", new SelectList(ViewBag.DurationList, Model.Duration), new { @class = "custom-select", @onchange = "$('#REditForm" + (Model.ReservationId) + " #Duration').val(this.value).change();" })
        @Html.ValidationMessageFor(m => m.Duration)
    </div>
</div>
<div class="pop-sec-e">
    <div class="status">
        <span class="sft">Shift</span> @*<select id="selectbox1">
            <option value="">@(Model.FoodMenuShift.MenuShift)</option>
        </select>*@
        @Html.DropDownList("ddlShift", new SelectList(ViewBag.ShiftList, "FoodMenuShiftId", "MenuShift", Model.ShiftId), new { @class = "custom-select", @onchange = "$('#REditForm" + (Model.ReservationId) + " #ShiftId').val(this.value).change();" })
        @Html.ValidationMessageFor(m => m.ShiftId)
    </div>
</div>
<div class="pop-sec-e">
    <div class="status">
        <span class="sft">Table</span> @* <select id="selectbox1">
            <option value="">@(Model.FloorTable.TableName)</option>
        </select>*@
        @Html.DropDownList("ddlTable", new SelectList(ViewBag.TableList, "Id", "Name", Model.TableId), new { @class = "custom-select", @onchange = "$('#REditForm" + (Model.ReservationId) + " #TableId').val(this.value).change();" })
        @Html.ValidationMessageFor(m => m.TableId)
    </div>
</div>
