@model AIS.Models.ReservationVM
<h1 class="add-new-reser form">
    Add New Reservation</h1>
<div class="frnt-right-rowb reservation-tabs">
    <div id="tabs">
        <ul class="main">
            <li><a href="#tabs-1">Booking Information</a></li>
            <li><a href="#tabs-2">Additional Details</a></li>
        </ul>
        <div id="tabs-1">
            <div class="t-inner content_1">
                <label>
                    First Name <span>*</span></label>
                @Html.TextBoxFor(p => p.FirstName)
                <label>
                    Last Name <span>*</span></label>
                @Html.TextBoxFor(p => p.LastName)
                <label>
                    Mobile Phone Name<span>*</span></label>
                @Html.TextBoxFor(p => p.MobileNumber, new { onchange = "GetAdditionalDetail()" })
                <label>
                    Email</label>
                @Html.TextBoxFor(p => p.Email)
                <div class="row">
                    <div class="left-s">
                        <label>
                            Covers <span>*</span></label>
                        <div class="select-main">
                            @Html.DropDownListFor(p => p.Covers, new SelectList(new int[] { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16 }, ViewBag.cover))
                        </div>
                    </div>
                    <div class="right-s">
                        <label>
                            Start <span>*</span></label>
                        <div class="select-main">
                            <select id="open" onchange="getTable()">
                            </select>
                        </div>
                    </div>
                </div>
                <label>
                    Table <span>*</span></label>
                <div class="select-main s-table">
                    <select id="table">
                    </select>
                </div>
                <p>
                    There are <span id="tcount">0 tables</span> available for this time and group size
                    (excluding table combinations).</p>
            </div>
        </div>
        <div id="tabs-2">
            <div class="additional-info content_1">
                <div class="pop-sec-a">
                    <div class="colA">
                        <img src="/images/icon-pop-name.png"></div>
                    <div class="colB" id="fname">
                        <br />
                        <span id="unumber"></span>
                    </div>
                    <div class="colC">
                        @*<img src="/images/red-s.png" width="15" height="18">*@</div>
                </div>
                <div class="pop-sec-b">
                    <span class="sebHd">Guest Notes @*<img src="/images/icon-note.png" width="12" height="12">*@</span>
                    <p id="ptxt">
                    </p>
                </div>
                <div class="pop-sec-b">
                    <span class="sebHd" id="ss">Special Status</span>
                </div>
                <div class="pop-sec-b">
                    <span class="sebHd" id="alle">Allergies</span>
                </div>
                <div class="pop-sec-b">
                    <span class="sebHd">Reservation Notes
                        <img width="12" height="12" src="/images/icon-note.png"></span>
                    <p>
                        Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="t-bottom">
    <input type="button" value="Save" onclick="save()" />
    <input type="button" value="Cancel" onclick="Reservation('/Floor/ReservationList')" />
</div>
<script type="text/javascript">

    function GetAdditionalDetail() {
        $.ajax({
            data: { ph: $("#MobileNumber").val() },
            url: '/Reservation/GetAdditionalDetail',
            success: function (data) {
                if (data.length > 0) {
                    var sst = "";
                    var all = ""
                    $.each(data, function (a, b) {
                        $("#FirstName").val(b.FirstName);
                        $("#LastName").val(b.LastName);
                        $("#fname").text(b.FirstName + "," + b.LastName);

                        $.each(b.specialStatu, function (c, d) {
                            sst += '<a href="javascript:void(0)" class=' + (d == "VIP" ? "btnvip" : "btnhip") + '>' + d + '</a>';
                        });
                        $.each(b.Allergies, function (e, f) {
                            all += '<span class="alerg">' + f + '</span>';
                        });
                    });

                    $("#ss").nextAll('a').remove();
                    $("#ss").after(sst);

                    $("#alle").nextAll('span').remove();
                    $("#alle").after(all);

                } else {
                    $("#fname").text('');
                    $("#alle").nextAll('span').remove();
                    $("#ss").nextAll('a').remove()
                }
            }
        });
    } 
</script>
